.main {
  width: 60%;
  display: block;
  margin: auto;
}

.pix-tag {
  background-color: whitesmoke;
  border: 0 solid bwhitesmoke;
  border-radius: 100px;
  padding: 0 10px;
}

.margin-spacer {
  margin-top: -20px;
}

.radio-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1.5px solid whitesmoke;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.avista-box, .parcelado-box {
  flex-grow: 1;
}