.qrcode-box {
    border: 2px solid #3bdcac;
    border-radius: 15px;
    padding: 5px;
    width: 300px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.qrcode-div {
    width: 230px;
    height: 30px;
    background-color: #143a6f;
    border-radius: 10px;
    color: white;
    display: block;
    margin: auto;
    text-align: center;
}

.qrcode-button {
    background-color: #143a6f;
    border: 0 solid ;
    color: white;
}

.span-left {
    display: inline-block;
    width: 49%;
    text-align: left;
}

.span-right {
    display: inline-block;
    width: 49%;
    text-align: right;
}